.fade-in-element {
    transform: translateY(50px);
    transition: 1.2s;
    transition-delay: 0.5s;
    opacity: 0;
}

.animate_fade-in-element {
    transform: translateY(0px);
    opacity: 1;
}

.hide {
    opacity: 0;
}

.show-bg-black {
    background-color: black;
    opacity: 1;
}
