@font-face {
    font-family: ddin;
    src: url(../resources/fonts/d-din/D-DIN.otf);
}
@font-face {
    font-family: ddin-bold;
    src: url(../resources/fonts/d-din/D-DIN-Bold.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section {
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
    text-transform: uppercase;
    text-shadow: 0px 0px 2px rgb(122, 122, 122);
}

h2 {
    font-family: ddin-bold;
    margin: 0.8rem 0 2.8rem;
    font-size: 6.2vh;
}
h3 {
    font-family: ddin;
    font-weight: 100;
}

a {
    text-decoration: none;
    color: white;
    font-family: ddin-bold;
    text-transform: uppercase;
}

/* First launch section */
.launch {
    background-image: url(../resources/images/Flight_2_Homepage_Desktop_a3d65abd76.jpg);
    background-position: center;
    background-size: cover;
}

header {
    position: fixed;
    top: 0;
    padding: 2rem 7vw;
    width: 100%;
    display: flex;
    align-items: center;
}

.header_brand,
.header_hamburger {
    width: 19vw;
}

.header_brand img {
    filter: invert(100%);
    width: 14vw;
}

.header_nav {
    width: 60vw;
    display: flex;
    justify-content: space-between;
}

header a {
    font-family: ddin;
    text-transform: uppercase;
    font-size: 0.85rem;
    padding-top: 0.5rem;
    font-weight: 900;
}

.header_hamburger {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2.5rem;
}

.header_hamburger img {
    height: 25px;
    filter: invert(100%);
    padding-top: 0.5rem;
}

.launch_header {
    padding: 56vh 7.2vw 0;
}

.section-header_button {
    font-family: ddin;
    padding: 1.1rem 2.5rem;
    border: 2px solid white;
    font-size: 0.9rem;
    font-weight: 900;
    position: relative;
    overflow: hidden;
    z-index: 9000;
}

.section-header_button::before {
    background: #fff;
    content: "";
    position: absolute;
    z-index: -1;
}
.section-header_button::after {
    background: #fff;
    content: "";
    position: absolute;
    z-index: -1;
}
.section-header_button:hover {
    color: #000;
    cursor: pointer;
}
.section-header_button::after {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    transform-origin: top center;
    transform: scale3d(1, 0, 1);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.section-header_button:hover::after {
    height: 100%;
    width: 100%;
    transform: scale3d(1, 1, 1);
    transform-origin: bottom center;
}

/* ### Second launch section ### */
.launch_2 {
    background-image: url(../resources/images/Homepage_Starlink_SLC_40_Desktop_5b1e6b5dd0.jpg);
    background-position: center;
    background-size: cover;
}
.launch_2 .section-header_button {
    padding: 1.1rem 3.5rem;
}

.launch_3 {
    background-image: url(../resources/images/Psyche_outside39abmound_IMG_8486_desktop_f5072ad69b.jpg);
    background-position: center;
    background-size: cover;
}
